<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>

    </header>

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <img src="../../assets/img/frailejon_ernesto_perez.gif" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-6 p-3 mb-2 mt-5 bg-primary text-white text-center">APORTES</div>
        </div>
    </section>

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <form>
                    <div class="mb-3 w-50%">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>

                    <select class="form-select" placeholder="departamento">
                        <option selected>departamento</option>
                        <option value="1">ANTIOQUIA</option>
                        <option value="2">BOGOTA</option>
                        <option value="3">RISARALDA</option>
                        <option value="3">TOLIMA</option>
                        <option value="3">CAUCA</option>
                    </select>

                    <div class="mt-4">
                        <p class="text-center"><strong>Selecciona una Opcion</strong></p>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Pollo
                            </label>
                        </div>
    
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Carne
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                              Mixto
                            </label>
                        </div>

                    </div>
                </form>
            </div>
                
    </section>

    <footer class="bg-success">
        <section class="container">
            <div class="row">
                <div class="col-4 mt-5 justify-content-center text-center">
                    <h5>FRAILEJON</h5>
                    <p>direccion</p>
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="321" height="263" id="gmap_canvas" src="https://maps.google.com/maps?q=carrera+25+%23+82-40&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.analarmclock.com/"></a><br><a href="https://www.onclock.net/"></a><br><style>.mapouter{position: relative;text-align: right;height: 263px;width: 321px;}</style><a href="https://www.ongooglemaps.com">create map in google</a><style>.gmap_canvas{overflow: hidden;background: none !important;height: 263px;width: 321px;}</style></div></div>
                </div>

                <div class="col-4 mt-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa maiores qui vero provident itaque nulla, nisi non quia, similique quaerat velit quae porro assumenda aspernatur at, aut asperiores? Voluptatum, tempore.</p>
                </div>

                <div class="col-4 align-contents">
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </section>
    </footer>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>