.body{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 500%;
}
.row-fondo{
    background-color: #4D82BE;
    justify-content: center;
    text-align: center;
    padding: 10px;
    display: inline-flex;
    width: 100%;
}

.col-6 a{
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color:white;
    font-size: 200%;
    margin-bottom: 2rem;
}

h4{ 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 500%;
    text-align: center;
}
